/*First placholder center column without box-sizing*/
%flex-center-column{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;    
}

/*Second placeholder space-evenly with box-sizing*/
%flex-spaceevenly{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
    box-sizing: content-box;
}

/*Third placeholder flex-start and align-items*/
%flexstart{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

/*fourth placeholder flex-start without align-items*/
%flex-startbis{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
    
