/*Mains colors*/
/*Backgrounds'colors*/
/*texts, buttons'colors*/
.restmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restnames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
}

#main {
  overflow: hidden;
}

.header__arrowback {
  margin-right: 0.5em;
}
.header__arrowback .fas {
  color: black;
}

.choices__text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 1.8em;
  margin-top: 0;
}

.functionnement {
  padding: 0 1.25em;
  margin-bottom: 2em;
}

.functionnement__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0.7em 0 -1.7em;
  border-radius: 100%;
  background-color: #9356dc;
  padding: 0.5em 0.8em 0.5em 0.8em;
  color: white;
  font-size: 14px;
}

.functionnement__icon {
  margin: 0 1em;
  font-weight: bold;
  color: gray;
}

.restnames__article {
  width: 330px;
  height: 250px;
  margin-bottom: 1.5em;
  background-color: white;
  border-radius: 3em;
  border: none;
}

.rest__picture {
  width: 100%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 3em 3em 0 0;
}

.restnames {
  padding: 3em 0 3em 0;
  background-color: #f0f1f3;
}

.restnames__heading {
  font-size: 20px;
  color: black;
  margin: 1em 0 0 1.2em;
}

.restnames__newrest {
  display: inline-block;
  border: none;
  background-color: #99e2d0;
  color: #089672;
  font-weight: bold;
  padding: 0.3em;
  position: relative;
  top: -190px;
  left: 230px;
  margin: 0;
}

.restnames__text {
  margin: -1.5em auto auto 1.5em;
}

.restnames__textbis {
  margin: 0.4em 2em 0 1.5em;
}

.restnames__hicon {
  float: right;
  margin: -1em 1em 0 auto;
  font-size: 25px;
  text-align: center;
}
.restnames__hicon:hover {
  opacity: 0;
}

.restnames__hiconfull {
  float: right;
  margin: -1em;
  display: block;
  font-size: 25px;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  border-radius: 100%;
}
.restnames__hiconfull:hover {
  opacity: 1;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.restnames__hicon--position {
  position: relative;
  top: 1em;
}

.restnames__hiconfull--position {
  position: relative;
  top: 1em;
}

a {
  text-decoration: none;
}

.restmenu {
  position: relative;
  top: -2em;
  /*margin-top: -3em;*/
  padding: 1.8em 1.2em;
  border-radius: 40px 40px 0 0;
  background-color: #f0f1f3;
  z-index: 6;
}

.restmenu__mainheading {
  margin: 0;
}

.restemenu__desc {
  margin: 0.5em 0 0.5em 0.8em;
}

.restmenu__text {
  width: 250px;
  margin: 0.5em auto 1em 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restemnu__title {
  margin: 1.5em 0 0.5em 0;
}

.restemnu__title__underline {
  background-color: #99e2d0;
  padding: 0.2em 0;
  border-radius: 20px;
  width: 15%;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin: -2em 1em 0.5em 1em;
}

.picture__menu {
  width: 100%;
  height: 250px;
  background-size: cover;
}

.restmenu__dishes {
  width: 100%;
  margin: 1em 0;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 3px 3px 6px gray;
          box-shadow: 3px 3px 6px gray;
}
.restmenu__dishes .restemenu__check {
  position: relative;
  top: -2em;
  right: 0;
  left: 90%;
  opacity: 1;
}

.choices__heading, .choices__text, .functionnement__btn, .describe__heading, .explain__heading, .restnames__heading, .restnames__text, .restnames__textbis, .restnames__newrest, .restemnu__title, .restemenu__desc, .restmenu__text, footer li {
  font-family: "Roboto", sans-serif;
}

.loading__spinner__logo, .restmenu__mainheading {
  font-family: "Shrikhand", cursive;
}

.btn {
  position: relative;
  left: 22%;
  right: 25%;
  text-align: center;
  padding: 1em 2.3em;
  border-radius: 2em;
  border: none;
  -webkit-box-shadow: 3px 3px 8px #9356dc;
          box-shadow: 3px 3px 8px #9356dc;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  color: white;
  cursor: pointer;
}

.btn--command {
  position: relative;
  top: 35px;
  left: 25%;
  bottom: 25px;
  right: 25%;
  width: 50%;
}

.functionnement__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
  padding: 1em;
  border-radius: 2em 2em;
  width: 100%;
  border: none;
  -webkit-box-shadow: 6px 6px 10px #f2f2f2;
          box-shadow: 6px 6px 10px #f2f2f2;
  font-size: 18px;
}
.functionnement__btn.functionnement__btn:hover {
  background: #e4d5f6;
}

.loading__content {
  position: fixed;
  display: inline-block;
  /*z-index: -6;
  opacity: 0;*/
  height: 100%;
  width: 100%;
  -webkit-animation: loading__charging 10s ease-in-out both 1 normal;
          animation: loading__charging 10s ease-in-out both 1 normal;
}
.loading__content .loading__spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: no-repeat;
  background-color: #f0f1f3;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
@-webkit-keyframes loading__charging {
  from {
    z-index: 1000;
    opacity: 1;
  }
  to {
    z-index: -1000;
    opacity: 0;
  }
}
@keyframes loading__charging {
  from {
    z-index: 1000;
    opacity: 1;
  }
  to {
    z-index: -1000;
    opacity: 0;
  }
}
.loading__content .loading__spinner__utensils {
  width: auto;
  font-size: 50px;
  position: absolute;
  top: 35%;
  right: 0;
  left: 45%;
  color: #9356dc;
  animation: rotation__utensils 3s ease-in-out both infinite alternate-reverse;
}
@-webkit-keyframes rotation__utensils {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 1, 180deg);
            transform: rotate3d(1, 1, 1, 180deg);
    color: #ff79da;
  }
  98% {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
            transform: rotate3d(1, 1, 1, 360deg);
    font-size: 60px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotation__utensils {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 1, 180deg);
            transform: rotate3d(1, 1, 1, 180deg);
    color: #ff79da;
  }
  98% {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
            transform: rotate3d(1, 1, 1, 360deg);
    font-size: 60px;
  }
  100% {
    opacity: 0;
  }
}
.loading__content .loading__spinner__logo {
  width: auto;
  position: absolute;
  font-size: 50px;
  color: #ff79da;
  animation: logo__spinner 3s ease-in-out infinite alternate-reverse;
}
@-webkit-keyframes logo__spinner {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform-origin: center;
            transform-origin: center;
    color: #9356dc;
    letter-spacing: 0.25em;
  }
  100% {
    -webkit-transform-origin: none;
            transform-origin: none;
    opacity: 0;
  }
}
@keyframes logo__spinner {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform-origin: center;
            transform-origin: center;
    color: #9356dc;
    letter-spacing: 0.25em;
  }
  100% {
    -webkit-transform-origin: none;
            transform-origin: none;
    opacity: 0;
  }
}

footer {
  background-color: black;
  padding: 2em 0;
  width: auto;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  list-style: none;
}
footer li {
  margin: 0.5em -1.2em;
}

footer, .logo__footer, .logo__footer__heading, .footer__list {
  color: white;
}

.logo__footer__heading {
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  padding-left: 1em;
}

.logo__footer__collaborate {
  padding-right: 0.86em;
}

.logo__footer__partners {
  padding-right: 0.5em;
}

.logo__header {
  padding: 1em 0;
}

.choice-towns {
  padding-bottom: 3.5em;
  background-color: #f0f1f3;
}

.choice-towns__icon {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 80px;
}

input {
  width: 100%;
  background-color: #d7e0e9;
  padding: 1em 0;
  color: black;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  border: none;
  -webkit-box-shadow: 3px 3px 10px #d7e0e9;
          box-shadow: 3px 3px 10px #d7e0e9;
}

::-webkit-input-placeholder {
  color: black;
  text-align: center;
}

::-moz-placeholder {
  color: black;
  text-align: center;
}

:-ms-input-placeholder {
  color: black;
  text-align: center;
}

::-ms-input-placeholder {
  color: black;
  text-align: center;
}

::placeholder {
  color: black;
  text-align: center;
}

.choices__heading {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}/*# sourceMappingURL=style.css.map */