/*Mains colors*/
/*Backgrounds'colors*/
/*texts, buttons'colors*/
/*border-radius*/
.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.loading__content .loading__spinner {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.restmenu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: center;
}

.functionnement__num, .functionnement__num2 {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.logo__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.restmenus__articles, .article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  box-sizing: border-box;
}

.functionnement {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
}

#main {
  overflow: hidden;
}

.header__arrowback {
  margin-right: 0.5em;
}
@media screen and (min-width: 720px) {
  .header__arrowback {
    display: none;
  }
}
.header__arrowback .fas {
  color: black;
}

.choices__text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 1.8em;
}

.explain__heading {
  margin: 1.2em 0.6em;
}
@media screen and (max-width: 320px) {
  .explain__heading {
    padding: 0;
  }
}
@media all and (min-width: 321px) and (max-width: 374px) {
  .explain__heading {
    margin: 0;
    padding: 1.2em 1.2em;
  }
}
@media screen and (min-width: 720px) {
  .explain__heading {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
}

.functionnement {
  margin-bottom: 2em;
}
@media screen and (min-width: 1024px) {
  .functionnement {
    flex-flow: row nowrap;
  }
}

.functionnement__num, .functionnement__num2 {
  border-radius: 100%;
  background-color: #9356dc;
  color: white;
  font-size: 14px;
  padding: 0.5em 0.8em 0.5em 0.8em;
}

.functionnement__num {
  margin-left: -5em;
}
@media all and (min-width: 320px) and (max-width: 374px) {
  .functionnement__num {
    margin-left: -2.2em;
  }
}
@media screen and (min-width: 1024px) {
  .functionnement__num {
    margin-left: -7.3em;
  }
}

.functionnement__num2 {
  margin-left: -5.8em;
}
@media all and (min-width: 320px) and (max-width: 374px) {
  .functionnement__num2 {
    margin-left: -3em;
  }
}
@media screen and (min-width: 1024px) {
  .functionnement__num2 {
    margin-left: -8.2em;
  }
}

.functionnement__text {
  text-align: center;
}

.functionnement__icon {
  text-align: center;
  margin: 0 1em;
  font-weight: bold;
  color: gray;
}
.functionnement__icon :hover {
  color: #9356dc;
}

.describe__heading {
  margin: 0;
  padding: 2em 0.6em 1em 0.6em;
}
@media screen and (max-width: 320px) {
  .describe__heading {
    padding: 0;
  }
}
@media all and (min-width: 321px) and (max-width: 374px) {
  .describe__heading {
    margin: 0;
    padding: 1.2em 1.2em;
  }
}
@media screen and (min-width: 720px) {
  .describe__heading {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
}

.restnames {
  background-color: #f0f1f3;
  padding-bottom: 2.5em;
}

.article {
  padding: 0 0.6em;
}

.restnames__heading {
  font-size: 20px;
  color: black;
  margin: 0.5em 0 0 1.2em;
}
@media all and (min-width: 380px) and (max-width: 680px) {
  .restnames__heading {
    margin: 0.5em 0 0 1.2em;
  }
}

.restnames__article {
  width: 340px;
  height: 300px;
  margin-bottom: 1.5em;
  background-color: white;
  border-radius: 3em;
  border: none;
}
@media all and (min-width: 320px) and (max-width: 374px) {
  .restnames__article {
    width: 290px;
  }
}
@media all and (min-width: 431px) and (max-width: 720px) {
  .restnames__article {
    width: 410px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .restnames__article {
    width: 430px;
  }
}
@media screen and (min-width: 1440px) {
  .restnames__article {
    width: 540px;
  }
}
@media all and (min-width: 320px) and (max-width: 374px) {
  .restnames__article {
    width: 290px;
  }
}
@media screen and (min-width: 1600px) {
  .restnames__article {
    width: 700px;
    height: 390px;
  }
}

.rest__picture {
  width: 340px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 3em 3em 0 0;
}
@media all and (min-width: 320px) and (max-width: 374px) {
  .rest__picture {
    width: 290px;
  }
}
@media all and (min-width: 431px) and (max-width: 720px) {
  .rest__picture {
    width: 410px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .rest__picture {
    width: 430px;
  }
}
@media screen and (min-width: 1440px) {
  .rest__picture {
    width: 540px;
  }
}
@media screen and (min-width: 1600px) {
  .rest__picture {
    width: 700px;
    height: 310px;
  }
}

.restnames__newrest {
  display: inline-block;
  border: none;
  background-color: #99e2d0;
  color: #089672;
  font-weight: bold;
  padding: 0.3em;
  position: relative;
  top: -235px;
  left: 240px;
  margin: 0;
}
@media all and (min-width: 320px) and (max-width: 374px) {
  .restnames__newrest {
    left: 195px;
  }
}
@media all and (min-width: 380px) and (max-width: 720px) {
  .restnames__newrest {
    top: -240px;
    left: 310px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .restnames__newrest {
    left: 330px;
  }
}
@media all and (min-width: 1440px) and (max-width: 1599px) {
  .restnames__newrest {
    left: 445px;
  }
}
@media screen and (min-width: 1600px) {
  .restnames__newrest {
    top: -310px;
    left: 600px;
  }
}

.restnames__text {
  margin: -1.5em auto auto 1.5em;
}
@media all and (min-width: 380px) and (max-width: 680px) {
  .restnames__text {
    margin: -1.5em auto auto 1.5em;
  }
}

.restnames__textbis {
  margin: 0.4em 2em 0 1.5em;
}

.restnames__hicon {
  float: right;
  margin: -0.8em 1em 0 auto;
  font-size: 25px;
  text-align: center;
}
.restnames__hicon:hover {
  opacity: 0;
}

.restnames__hiconfull {
  float: right;
  margin: -0.8em -1em;
  display: block;
  font-size: 25px;
  opacity: 0;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  border-radius: 100%;
}
.restnames__hiconfull:hover {
  opacity: 1;
  transition: all 300ms ease-in-out;
  transform: scale(1.1);
}

.restnames__hicon--position {
  position: relative;
  top: 1em;
}
@media screen and (min-width: 720px) {
  .restnames__hicon--position {
    left: 1em;
  }
}

.restnames__hiconfull--position {
  position: relative;
  top: 1em;
}
@media screen and (min-width: 720px) {
  .restnames__hiconfull--position {
    left: 1em;
  }
}

a {
  text-decoration: none;
}

.restmenu {
  margin: -2em 0;
  padding: 1.8em 1em;
  border-radius: 35px 35px 0 0;
  background-color: #f0f1f3;
}

.restmenu__mainheading {
  margin: 0 0.3em;
}
@media screen and (max-width: 320px) {
  .restmenu__mainheading {
    font-size: 20px;
  }
}
@media screen and (min-width: 720px) {
  .restmenu__mainheading {
    margin: auto;
  }
}

.restemnu__title {
  margin: 1.5em 0 0.2em 0.3em;
}
@media screen and (min-width: 720px) {
  .restemnu__title {
    margin: 1.5em auto 0.2em;
  }
}

.restemnu__title__underline {
  background-color: #99e2d0;
  padding: 0.2em 0;
  border-radius: 20px;
  margin-left: 0.5em;
  width: 15%;
}
@media screen and (min-width: 720px) {
  .restemnu__title__underline {
    margin: 0.2em auto;
  }
}

.restmenu__dishes1, .restmenu__dishes2, .restmenu__dishes3 {
  width: 100%;
  height: 70px;
  margin: 1em 0.5em 0 0.5em;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  text-overflow: ellipsis;
  box-shadow: 3px 3px 6px gray;
}
@media all and (min-width: 320px) and (max-width: 374px) {
  .restmenu__dishes1, .restmenu__dishes2, .restmenu__dishes3 {
    width: 100%;
  }
}
@media all and (min-width: 376px) and (max-width: 719px) {
  .restmenu__dishes1, .restmenu__dishes2, .restmenu__dishes3 {
    width: 363px;
  }
}
@media screen and (min-width: 720px) {
  .restmenu__dishes1, .restmenu__dishes2, .restmenu__dishes3 {
    width: 450px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.restmenu__dishes1 {
  -webkit-animation: restmenus__articles_apparitions 1s linear backwards 1 normal;
          animation: restmenus__articles_apparitions 1s linear backwards 1 normal;
}

@-webkit-keyframes restmenus__articles_apparitions {
  0% {
    transform: translateY(-1.5em);
    opacity: 0;
  }
  25% {
    transform: translateY(-1em);
    opacity: 1;
  }
  50% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes restmenus__articles_apparitions {
  0% {
    transform: translateY(-1.5em);
    opacity: 0;
  }
  25% {
    transform: translateY(-1em);
    opacity: 1;
  }
  50% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateY(0);
  }
}
.restmenu__dishes2 {
  -webkit-animation: restmenus__articles_apparitions 1s 0.3s ease-out backwards 1 normal;
          animation: restmenus__articles_apparitions 1s 0.3s ease-out backwards 1 normal;
}

@keyframes restmenus__articles_apparitions {
  0% {
    transform: translateY(-1em);
    opacity: 0;
  }
  50% {
    transform: translateY(-0.5em);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
.restmenu__dishes3 {
  -webkit-animation: restmenus__articles_apparitions 1s 0.5s linear backwards 1 normal;
          animation: restmenus__articles_apparitions 1s 0.5s linear backwards 1 normal;
}

@keyframes restmenus__articles_apparitions {
  0% {
    transform: translateY(-1.5em);
    opacity: 0;
  }
  25% {
    transform: translateY(-1em);
    opacity: 1;
  }
  50% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateY(0);
  }
}
#checking {
  position: relative;
  top: -7.7em;
  left: 135px;
  right: 135px;
  width: 60px;
  height: 70px;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  background: #99e2d0;
  top: -7.6em;
}
#checking:active {
  -webkit-animation: checking_sliding 2s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: checking_sliding 2s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
@-webkit-keyframes checking_sliding {
  0% {
    left: 270px;
    opacity: 1;
  }
  100% {
    left: 270px;
    opacity: 1;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
@keyframes checking_sliding {
  0% {
    left: 270px;
    opacity: 1;
  }
  100% {
    left: 270px;
    opacity: 1;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
@media screen and (max-width: 320px) {
  #checking {
    left: 110px;
  }
  @-webkit-keyframes checking_sliding {
    0% {
      left: 220px;
      opacity: 1;
    }
    100% {
      left: 220px;
      opacity: 1;
    }
  }
  @keyframes checking_sliding {
    0% {
      left: 220px;
      opacity: 1;
    }
    100% {
      left: 220px;
      opacity: 1;
    }
  }
}
@media screen and (min-width: 321px) and (max-width: 374px) {
  #checking {
    left: 125px;
  }
  @-webkit-keyframes checking_sliding {
    0% {
      left: 252px;
      opacity: 1;
    }
    100% {
      left: 252px;
      opacity: 1;
    }
  }
  @keyframes checking_sliding {
    0% {
      left: 252px;
      opacity: 1;
    }
    100% {
      left: 252px;
      opacity: 1;
    }
  }
}
@media screen and (min-width: 400px) and (max-width: 720px) {
  #checking {
    left: 150px;
    right: 150px;
  }
  @-webkit-keyframes checking_sliding {
    0% {
      left: 306px;
      opacity: 1;
    }
    100% {
      left: 306px;
      opacity: 1;
    }
  }
  @keyframes checking_sliding {
    0% {
      left: 306px;
      opacity: 1;
    }
    100% {
      left: 306px;
      opacity: 1;
    }
  }
}
@media screen and (min-width: 720px) {
  #checking {
    left: 210px;
    right: 210px;
  }
  @-webkit-keyframes checking_sliding {
    0% {
      left: 390px;
      opacity: 1;
    }
    100% {
      left: 390px;
      opacity: 1;
    }
  }
  @keyframes checking_sliding {
    0% {
      left: 390px;
      opacity: 1;
    }
    100% {
      left: 390px;
      opacity: 1;
    }
  }
}
@media screen and (min-width: 1580px) {
  @-webkit-keyframes checking_sliding {
    0% {
      left: 389px;
      opacity: 1;
    }
    100% {
      left: 389px;
      opacity: 1;
    }
  }
  @keyframes checking_sliding {
    0% {
      left: 389px;
      opacity: 1;
    }
    100% {
      left: 389px;
      opacity: 1;
    }
  }
}

.restmenu__check {
  color: #99e2d0;
  position: absolute;
  top: 1em;
  left: 0.6em;
  background: white;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 900;
  padding: 0.5em 0.6em 0.5em 0.6em;
  text-align: center;
}
.restmenu__check:active {
  -webkit-animation: check_sliding 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards 1;
          animation: check_sliding 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards 1;
}
@-webkit-keyframes check_sliding {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes check_sliding {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

.restemenu__dishes__entitled {
  text-overflow: ellipsis;
}
.restemenu__dishes__entitled:active {
  width: 85%;
}
@media screen and (max-width: 320px) and (max-width: 374px) {
  .restemenu__dishes__entitled:active {
    width: 55%;
  }
}

.entitled1 {
  margin: 0.5em 0 0.5em 0.8em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media all and (min-width: 320px) and (max-width: 374px) {
  .entitled1 {
    font-size: 18px;
  }
}

.entitled2 {
  width: 70%;
  margin: 0 0 1em 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media all and (min-width: 320px) and (max-width: 374px) {
  .entitled2 {
    width: 200px;
  }
}

.price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  height: 70px;
  overflow: hidden;
  margin: -2em 1.5em 0.5em 1.5em;
}

.picture__menu {
  position: relative;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: fixed no-repeat top center;
  z-index: -3;
}
@media screen and (min-width: 720px) {
  .picture__menu {
    background-position: center;
    width: 100%;
    height: 400px;
  }
}

.choices__heading, .choices__text, .functionnement__btn, .describe__heading, .explain__heading, .restnames__heading, .restnames__text, .restnames__textbis, .restnames__newrest, .restemnu__title, .entitled1, .entitled2, .btn--command, footer li {
  font-family: "Roboto", sans-serif;
}

.loading__spinner__logo, .restmenu__mainheading {
  font-family: "Shrikhand", cursive;
}

.btn {
  padding: 1em 2.3em;
  border-radius: 2em;
  margin: auto;
  border: none;
  box-shadow: 3px 3px 8px #9356dc;
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  color: white;
  cursor: pointer;
}
@media all and (min-width: 320px) and (max-width: 374px) {
  .btn {
    width: 290px;
  }
}
@media screen and (min-width: 720px) {
  .btn {
    width: 370px;
    font-size: 18px;
    font-weight: bold;
  }
}
.btn:hover {
  transform: scale(1.1);
}

.btn--command {
  margin: 1.5em auto;
}
@media all and (min-width: 320px) and (max-width: 374px) {
  .btn--command {
    width: 290px;
  }
}
@media screen and (min-width: 720px) {
  .btn--command {
    width: 370px;
    font-size: 18px;
    font-weight: bold;
  }
}

.functionnement__btn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0.5em 0.6em;
  padding: 1em;
  border-radius: 2em 2em;
  border: none;
  box-shadow: 5px 5px 8px #f2f2f2;
  font-size: 18px;
  width: 330px;
}
@media all and (min-width: 320px) and (max-width: 374px) {
  .functionnement__btn {
    width: 290px;
  }
}
@media screen and (min-width: 720px) {
  .functionnement__btn {
    width: 370px;
    font-size: 18px;
    font-weight: bold;
  }
}
@media screen and (min-width: 1024px) {
  .functionnement__btn {
    width: 30%;
    margin: 1em auto;
    font-size: 25px;
  }
}
.functionnement__btn.functionnement__btn:hover {
  background: #e4d5f6;
}

.loading__content {
  position: fixed;
  height: 100%;
  width: 100%;
  -webkit-animation: loading__charging 10s ease-in-out both 1 normal;
          animation: loading__charging 10s ease-in-out both 1 normal;
}
.loading__content .loading__spinner {
  background: no-repeat;
  background-color: #f0f1f3;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
@-webkit-keyframes loading__charging {
  from {
    z-index: 1000;
    opacity: 1;
  }
  to {
    z-index: -1000;
    opacity: 0;
  }
}
@keyframes loading__charging {
  from {
    z-index: 1000;
    opacity: 1;
  }
  to {
    z-index: -1000;
    opacity: 0;
  }
}
.loading__content .loading__spinner__utensils {
  font-size: 50px;
  position: relative;
  top: -10%;
  right: 0;
  left: 0;
  opacity: 1;
  color: #9356dc;
  transform-origin: center;
  animation: rotation__utensils 3s 0.5s ease-in-out both infinite alternate-reverse;
}
@-webkit-keyframes rotation__utensils {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 1, 180deg);
    color: #ff79da;
  }
  98% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotation__utensils {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 1, 180deg);
    color: #ff79da;
  }
  98% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
  100% {
    opacity: 0;
  }
}
.loading__content .loading__spinner__logo {
  position: absolute;
  font-size: 45px;
  color: #ff79da;
  animation: logo__spinner 3s ease-in-out infinite alternate-reverse;
}
@-webkit-keyframes logo__spinner {
  0% {
    transform: none;
  }
  50% {
    color: #9356dc;
    letter-spacing: 0.25em;
  }
  100% {
    opacity: 0;
  }
}
@keyframes logo__spinner {
  0% {
    transform: none;
  }
  50% {
    color: #9356dc;
    letter-spacing: 0.25em;
  }
  100% {
    opacity: 0;
  }
}

footer {
  background-color: black;
  padding: 2em 0;
  width: auto;
}
footer ul {
  display: flex;
  align-content: flex-start;
  flex-flow: column wrap;
  list-style: none;
}
@media screen and (min-width: 720px) {
  footer ul {
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
  }
}
footer li {
  margin: 0.5em -1.2em;
}

footer, .logo__footer, .logo__footer__heading, .footer__list {
  color: white;
}

.logo__footer__heading {
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  padding-left: 1em;
}
@media screen and (min-width: 720px) {
  .logo__footer__heading {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}

.logo__footer__collaborate {
  padding-right: 0.86em;
}

.logo__footer__partners {
  padding-right: 0.5em;
}

.logo__header {
  padding: 1em 0;
}
@media screen and (min-width: 720px) {
  .logo__header {
    position: relative;
  }
}

.choice__towns {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 3.5em;
  width: 100%;
  background-color: #f0f1f3;
}

.choice__towns__icon {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 80px;
}
@media screen and (max-width: 320px) {
  .choice__towns__icon {
    position: relative;
    left: 27%;
    top: 1.9em;
    right: 0;
  }
}
@media screen and (min-width: 720px) {
  .choice__towns__icon {
    position: relative;
    left: 33%;
    top: 1.9em;
    right: 0;
  }
}

input {
  width: 100%;
  background-color: #d7e0e9;
  padding: 1em 0;
  color: black;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  border: none;
  box-shadow: 3px 3px 10px #d7e0e9;
}

::-moz-placeholder {
  color: black;
  text-align: center;
}

:-ms-input-placeholder {
  color: black;
  text-align: center;
}

::placeholder {
  color: black;
  text-align: center;
}
@media screen and (min-width: 720px) {
  ::-moz-placeholder {
    font-size: 18px;
  }
  :-ms-input-placeholder {
    font-size: 18px;
  }
  ::placeholder {
    font-size: 18px;
  }
}

.choices__heading {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}/*# sourceMappingURL=style.css.map */