body{
    margin: 0;
    /*font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;*/
}

#main{
    overflow: hidden;
}

.logo__header{
    text-align: center;
    padding: 1em 0;
}

/*Towns'choices'beginning*/
.choice-towns{
    padding-bottom: 3.5em;
    background-color: #f0f1f3;
}

.choice-towns__icon{
    position: absolute; 
    left: 30%;
    right: 30%;
    top: 80px;
}

input{
    width: 100%;
    background-color: #d7e0e9;
    padding: 1em 0;
    color: black; 
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    border: none;
    box-shadow: 3px 3px 10px #d7e0e9;
}

::placeholder{
    color: black;
    text-align: center;
}

.choices__heading{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    
    }

.choices__heading, .choices__text, .functionnement__btn,.restnames__heading, .restnames__text, .restnames__textbis, footer li{
    font-family: 'Roboto', sans-serif;
}

.choices__text{
    text-align: center;
    font-size: 20px;
 }

 $color-primary: #9356dc;
 $color-secondary: #ff79da;
.btn{
    position: relative;
    left: 21%;
    right: 25%;
    text-align: center;
    padding: 1em 2.3em;
    border-radius: 2em;
    border: none;
    box-shadow: 3px 3px 8px $color-primary;
    background-color: $color-secondary;
    color: white;
    cursor: pointer;
}
    /*Towns' choices'ending*/

    $color-primary: #9356dc;
    $color-secondary: #ff79da;
    $color-tertiary:#99e2d0;
    $color-bgrestname: #f0f1f3;
    $color-bgarticle: white;
    $color-bgnewrest: #99e2d0;
    $color-textnew: #089672;
    $color-functionnement__btn : #f2f2f2;
    $color-text: black;

    /*Start's description site's functionnement*/
    .functionnement{
        padding: 0 1.25em;
        margin-bottom: 2em;
    }
    %flexstart{
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
    .functionnement__btn{
        margin: 1.5em 0; 
        padding: 1em;
        border-radius: 2em 2em;
        width: 100%;
        border: none;
        box-shadow: 8px 8px 10px $color-functionnement__btn;
        font-size: 18px;
        &:hover{
            background-color: $color-primary;
        }
        @extend %flexstart;
    }
    
    .functionnement__num{
        display: flex;
        justify-content: flex-start;
        margin: 0 0.7em 0 -1.7em;
        border-radius: 100%;
        background-color: $color-primary;
        padding: 0.5em 0.8em 0.5em 0.8em;
        color: $color-bgarticle; 
        font-size: 14px;   
    }
    
    .functionnement__icon{
        margin: 0 1em;
        font-weight: bold;
        color: gray;
        &:hover{
            color: $color-primary;
        }
    }
    /*End's description site's functionnement*/

    /*Start's restaurants'presentations*/
    %flex-spaceevenly{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-content: center;
        box-sizing: content-box;
    }

    .restnames{
        padding: 3em 0 3em 0;
        background-color: $color-bgrestname;  
        @extend %flex-spaceevenly;
    }
    
    .restnames__article{
        width: 330px;
        height: 250px;
        margin-bottom: 1.5em;
        background-color: white;
        border-radius: 3em;
        border:none;
    }
    
    .rest__picture{
        width:100%;
        height: 65%;
        object-fit: cover;
        object-position: center;
        border-radius: 3em 3em 0 0;
    }
    
    .restnames__heading{
        font-size: 20px;
        color: black;
        margin: 0.5em 0 0 0.5em;
    }
    
    .restnames__newrest{
        display: inline-block;
        border:none;
        background-color: $color-bgnewrest;
        color: $color-textnew;
        font-weight: bold;
        padding: 0.3em;
        position: relative;
        top: -190px;
        left: 230px;
        margin: 0;
    }
    
    .restnames__hicon{
        float: right;
        margin: -1em 2em 0 2em;
    }
    
    a{
        text-decoration: none;
    }
    
    .restnames__text{
        margin: -1.5em auto auto 0.7em;
    }
    
    .restnames__textbis{
        margin: 0.4em 2em 0 0.7em;
    }
    /*End's restaurants'presentations*/

    /*Mixin de présentation générale*/
    @mixin footer{
    padding: 2em 0;
    width: auto;
}
    $color-bgfooter: black; 
    footer{
    @include footer;
    background-color: $color-bgfooter;
}
    footer, .logo__footer, .logo__footer__heading, .footer__list{
    color: white;
}
@mixin footerul{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: column;
    list-style: none;
}

footer ul{
    @include footerul;
}

@mixin footerli{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: 0.5em -1.25em;
}

footer li{
   @include footerli;
}

.logo__footer{
    font-size: 16px;
    padding-left: 1.25em;
}

.logo__footer__icon{
    padding-right: 0.5em;
}

.logo__footer__heading{
    font-family: 'Shrikhand', cursive;
}