
.btn{
    position: relative;
    left: 22%;
    right: 25%;
    display: inline-block;
    text-align: center;
    padding: 1em 2.3em;
    border-radius: 2em;
    border: none;
    box-shadow: 3px 3px 8px $color-primary;
    background-image: linear-gradient(to top left, $color-primary, $color-secondary);
    color: white;
    cursor: pointer;
    width: 220px;
    @include btn;  
    &:hover{
        transform: scale(1.1);
    }  
}

.btn--command{
    font-weight: bold;
    text-align: center;
    margin: 2em 0;
}

.functionnement__btn{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 1em 0; 
    padding: 1em;
    border-radius: 2em 2em;
    width: 100%;
    border: none;
    box-shadow: 5px 5px 8px $color-functionnement__btn;
    font-size: 18px;
    &.functionnement__btn:hover{
        background: lighten($color-primary, $amount: 30);
    }
}
