
.btn{
    position: relative;
    left: 22%;
    right: 25%;
    text-align: center;
    padding: 1em 2.3em;
    border-radius: 2em;
    border: none;
    box-shadow: 3px 3px 8px $color-primary;
    background-image: linear-gradient(to top left, $color-primary, $color-secondary);
    color: white;
    cursor: pointer;
}

.functionnement__btn{
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    margin: 1.5em 0; 
    padding: 1em;
    border-radius: 2em 2em;
    width: 100%;
    border: none;
    box-shadow: 8px 8px 10px $color-functionnement__btn;
    font-size: 18px;
    &:hover{
        background-color: $color-primary;
        background: lighten($color-primary, $amount: 30);
        z-index: -1;
        transition: opacity 270ms;

.functionnement__icon--hover:hover{
    color: $color-primary;
}
}
}
