
.btn{
    @extend %center;
    padding: 1em 2.3em;
    border-radius: 2em;
    margin: auto;
    border: none;
    box-shadow: 3px 3px 8px $color-primary;
    background-image: linear-gradient(to top left, $color-primary, $color-secondary);
    color: white;
    cursor: pointer;
    @include btn;
    &:hover{
        transform: scale(1.1);
    }  
}

.btn--command{
    margin: 1.5em auto;
    @include btn;
}

.functionnement__btn{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: .5em .6em; 
    padding: 1em;
    border-radius: 2em 2em;
    border: none;
    box-shadow: 5px 5px 8px $color-functionnement__btn;
    font-size: 18px;
    width: 330px;
    cursor: pointer;
    @include btn;
    @include functionnement__btn_L;
    &.functionnement__btn:hover{
        background: lighten($color-primary, $amount: 30);
        &:hover .functionnement__icon{
            color: $color-primary;
        }
    }
}
