.loading__content{
        position: fixed;
        display: inline-block;
        /*z-index: -6;
        opacity: 0;*/
        height: 100%;
        width: 100%;
        animation: loading__charging 10s ease-in-out both 1 normal;
        
        .loading__spinner{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        background: no-repeat;
        background-color: $color-bgrestname;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        }
        @keyframes loading__charging{
          from{
            z-index: 1000;
            opacity: 1;
          }

          to{
            z-index: -1000;
            opacity: 0;
          }
        }
                   
        .loading__spinner__utensils{
            width: auto;
            font-size: 50px;
            position: absolute;
            top: 35%;
            right: 0;
            left: 45%;
            color: $color-primary;
            transform-origin: left;
            animation: rotation__utensils 3s ease-in-out both infinite alternate-reverse;
              }
          @keyframes rotation__utensils{
            0%{
              transform: none;
              }
  
            50%{
              transform: rotate3d(1, 1, 1, 180deg);
              color: #ff79da;
              }

            98%{
            transform: rotate3d(1, 1, 1, 360deg);
            font-size: 60px;
            }

            100%{
            
            opacity: 0;
              }
            }
              
          .loading__spinner__logo{
          width: auto;
          position: absolute;
          font-size: 50px;
          color: $color-secondary;
          animation: logo__spinner 3s ease-in-out infinite alternate-reverse;
          }
          @keyframes logo__spinner{
            0%{
            transform: none;
            }
  
            50%{
            transform-origin: center;
            color: #9356dc;
            letter-spacing: .25em;
            }
  
          100%{
            transform-origin: none;
            opacity: 0;
            }
          }
        }
        
        
        
      
       








