@mixin cards {
    width: 340px;
    height: 300px;
    margin-bottom: 1.5em;
    background-color: white;
    border-radius: 3em;
    border: none;

    @media all and (min-width: 320px) and (max-width:374px) {
        width: 290px;
    }

    @media all and (min-width: 400px) and (max-width:429px) {
        width: 380px;
    }

    @media all and (min-width: 430px) and (max-width:720px) {
        width: 410px;
    }

    @media all and (min-width: 1024px) and (max-width:1280px) {
        width: 430px;
    }

    @media screen and (min-width: 1440px) {
        width: 540px;
    }
}

@mixin picturescards {
    width: 340px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 3em 3em 0 0;

    @media all and (min-width: 320px) and (max-width:374px) {
        width: 290px;
    }

    @media all and (min-width: 400px) and (max-width:429px) {
        width: 380px;
    }

    @media all and (min-width: 430px) and (max-width: 720px) {
        width: 410px;
    }

    @media all and (min-width: 1024px) and (max-width: 1280px) {
        width: 430px;
    }
}

@mixin picturescards__XL {
    @media screen and (min-width: 1440px) {
        width: 540px;
    }

    @media screen and (min-width:1600px) {
        width: 700px;
        height: 310px;
    }
}

@mixin rest__hicon {
    float: right;
    margin: -.8em 1em 0 auto;
    font-size: 25px;
    text-align: center;

    &:hover {
        opacity: 0;

    }
}

@mixin rest__hiconfull {
    float: right;
    margin: -.8em -1em;
    display: block;
    font-size: 25px;
    opacity: 0;
    background: linear-gradient($color-primary, $color-secondary);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    border-radius: 100%;

    &:hover {
        opacity: 1;
        transition: all 300ms ease-in-out;
        transform: scale(1.1);
    }
}

@mixin menu {
    width: 100%;
    height: 70px;
    margin: 1em .5em 0 .5em;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
}


@mixin inputtowns {
    @media screen and (max-width: 320px) {
        position: relative;
        left: 27%;
        top: 1.9em;
        right: 0;
    }

    @media screen and (min-width:720px) {
        position: relative;
        left: 33%;
        top: 1.9em;
        right: 0;
    }
}

@mixin btn {
    @media all and (min-width: 320px) and (max-width:374px) {
        width: 290px;
        font-weight: bold;
    }

    @media screen and (min-width:720px) {
        width: 370px;
        font-size: 18px;
    }
}

@mixin restnames_L {
    @media screen and (min-width:720px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: center;
        box-sizing: border-box;
        width: 30%;
    }
}

@mixin restnames__article {
    @media all and (min-width: 320px) and (max-width:374px) {
        width: 290px;
    }
}

@mixin restnames__newrest {
    @media all and (min-width: 320px) and (max-width:374px) {
        left: 195px;
    }

    @media all and (min-width: 400px) and (max-width:429px) {
        top: -230px;
        left: 290px;
    }


    @media all and (min-width: 430px) and (max-width:720px) {
        top: -240px;
        left: 310px;
    }

    @media all and (min-width: 1024px) and (max-width:1280px) {
        left: 330px;
    }
}

@mixin restnames__newrestXL {
    @media all and (min-width:1440px) and (max-width:1599px) {
        left: 445px;
    }

    @media screen and (min-width:1600px) {
        top: -310px;
        left: 600px;
    }
}

@mixin restmenu__dishes {

    @media all and (min-width: 396px) and (max-width:719px) {
        width: 363px;
    }

    @media screen and (min-width: 720px) {
        width: 450px;
    }
}

@mixin restmenu__name {
    @media all and (min-width: 320px) and (max-width:380px) {
        font-size: 18px;
        width: 270px;
    }
}

@mixin restmenu__text {
    @media all and (min-width: 320px) and (max-width:375px) {
        font-size: 14px;
        width: 200px;
    }
}

@mixin placeholder_large {
    @media screen and (min-width:720px) {
        font-size: 18px;
    }
}

@mixin functionnement__btn_L {
    @media screen and (min-width: 1440px) {
        width: 30%;
        margin: 1em auto;
        font-size: 25px;
    }
}

@mixin heading {
    @media all and (min-width: 321px) and (max-width:374px) {
        margin: 0;
        padding: 1.2em 1.2em;
    }

    @media screen and (min-width:500px) {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
}

@mixin footer_Logo_large {
    @media screen and (min-width:720px) {
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
}

@mixin ul_large {
    @media screen and (min-width:720px) {
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
    }
}

@mixin checking__sliders {
    @media screen and (max-width: 320px) {
        left: 290px;
    }

   @media all and (min-width: 380px) and (max-width:396px){
        left: 345px;
    }

    @media screen and (min-width: 321px) and (max-width: 374px) {
        left: 315px;
    }

    @media screen and (min-width: 396px) and (max-width:719px) {
        left: 368px;
    }

    @media screen and (min-width:719px) {
        left: 455px;
    }
}