/*Mains colors*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary:#99e2d0;

/*Backgrounds'colors*/ 
$color-bgrestname: #f0f1f3;
$color-bgarticle: white;
$color-bgnewrest: #99e2d0;
$color-bgfooter: black; 

/*texts, buttons'colors*/
$color-textnew: #089672;
$color-functionnement__btn : #f2f2f2;
$color-text: black;
