footer{
    background-color: black;
    padding: 2em 0;
    width: auto;
    
    ul{
        display: flex;
        align-content: flex-start;
        flex-flow: column wrap;
        list-style: none;
        @include ul_large;
    }
    
    li{
        margin: 0.5em -1.2em;
    }
}

footer, .logo__footer, .logo__footer__heading, .footer__list{
    color: white;
}

.logo__footer__heading{
        font-family: 'Shrikhand', cursive; 
        font-size: 16px;
        padding-left: 1em;
        @include footer_Logo_large;
    }

    .logo__footer__collaborate{
        padding-right: .86em;
    }

    .logo__footer__partners{
        padding-right: .5em;
    }
    





