.choice__towns{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 3.5em;
    background-color: #f0f1f3;
}

.choice__towns__icon{
    position: absolute; 
    left: 30%;
    right: 30%;
    top: 80px;
    @include  inputtowns;
}

input{
    width: 100%;
    background-color: #d7e0e9;
    padding: 1em 0;
    color: black; 
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    border: none;
    box-shadow: 3px 3px 10px #d7e0e9;
}

::placeholder{
    color: black;
    text-align: center;
    margin-top: -2em;
}

.choices__heading{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}