body{
    margin: 0;
}

#main{
    overflow: hidden;
}

.choices__text{
    font-size: 20px;
    text-align: center;
    margin-bottom: 1.8em;
    margin-top: 0;
}
    .functionnement{
        padding: 0 1.25em;
        margin-bottom: 2em;
    }
    
    .functionnement__num{
        display: flex;
        justify-content: flex-start;
        margin: 0 0.7em 0 -1.7em;
        border-radius: 100%;
        background-color: $color-primary;
        padding: 0.5em 0.8em 0.5em 0.8em;
        color: $color-bgarticle; 
        font-size: 14px; 
    }
    
    .functionnement__icon{
        margin: 0 1em;
        font-weight: bold;
        color: gray;
        &:hover{
            color: $color-primary;
        }
    }

    .restnames__article{
        @include cards;
    }
    
    .rest__picture{
        @include picturescards;
    }
    
    .restnames{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-content: center;
        box-sizing: content-box;
        padding: 3em 0 3em 0;
        background-color: $color-bgrestname;  
    }
    
    .restnames__heading{
        font-size: 20px;
        color: black;
        margin: 1em 0 0 1.2em;
    }
    
    .restnames__newrest{
        display: inline-block;
        border:none;
        background-color: $color-bgnewrest;
        color: $color-textnew;
        font-weight: bold;
        padding: 0.3em;
        position: relative;
        top: -190px;
        left: 230px;
        margin: 0;
    }
    
    .restnames__hicon{
        float: right;
        margin: -1em 2em 0 auto;
        &:hover{
            background-color: $color-secondary;
            cursor: pointer;
        }
    }
    
    a{
        text-decoration: none;
    }
    
    .restnames__text{
        margin: -1.5em auto auto 1.4em;
    }
    
    .restnames__textbis{
        margin: 0.4em 2em 0 1.5em;
    }
